<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  </head>
  <style>
    h1 {
      font-size: 38px;
      color: red;
    }
    .button {
      background-color: pink;
      font-size: 24px;
      width: 300px;
      height: 100px;
      position: absolute;
      left: 50px;
      top: 200px;
    }
    .button:hover {
      background-color: yellow;
    }
  </style>
  <body>
    <h1> ERROR <br>
     PLEASE check the RULES or RE-ENTER the values </h1>
    <button onclick="location.href='./person.html'" class="button">RETURN</button>
  </body>
</html>
