<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  </head>
  <style>
    h1 {
      color: blue;
      font-size: 48px;
    }
    .button {
      background-color: pink;
      font-size: 24px;
      width: 300px;
      height: 100px;
    }
    .button:hover {
      background-color: yellow;
    }
  </style>

  <body>
    <h1>ACTION TAKEN SUCCESSFULLY!<br></h1>
    <h2>To see modified database, please return to the main page and press DATABASE button<br></h2>
    <button onclick="location.href='./person.html'" class="button">RETURN</button>

  </body>
</html>
